@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color-primary: #21252b;
  --color-secondary: #d19a66;
  --color-yellow: #d19a66;
  --color-green: #98c363;
  --color-red: #cf5f5a;
  --color-purple: #b870cc;
  --color-linkedin: #0a66c2;
  --color-hackerrank: #32c766;
  --color-ig: #fe0363;
  --color-white: #d7dadf;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --clr: #191d2b;
  --theme-bg: #333842;
  --theme-icon: #ffffff;
  --icon-bg: #333842;
  font-size: 11px;
}

.light-mode {
  --color-primary: #d8d8d8;
  --color-secondary: #51aabf;
  --color-yellow: #cf8c4d;
  --color-green: #7caf3d;
  --color-red: #d33f37;
  --color-white: #333356;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f8f8f8;
  --clr: #ffffff;
  --theme-bg: #333356;
  --theme-icon: #d19a66;
  --icon-bg: #f0f0f0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

#mainbody {
  overflow-x: hidden;
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.container {
  display: none;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.active {
  display: block;
  animation: appear 1s ease-out;
  transform: translateX(0) scaleX(1);
}
@keyframes appear {
  0% {
    transform: translateX(100%) scaleX(0);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}

.bottom-bar {
  position: relative;
  z-index: 1;
  width: 100%;
  display: grid;
  place-items: center;
  color: var(--clr);
  background-color: var(--color-white);
}
.bottom-bar nav {
  position: fixed;
  top: calc(100vh - 50px);
  width: 100vw;
  max-width: 100vw;
  height: 13.672vw;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px var(--color-secondary);
}
.bottom-bar nav ul {
  display: flex;
  gap: 1.95vw;
  list-style-type: none;
}
.bottom-bar nav ul li {
  cursor: pointer;
  position: relative;
  width: 13.672vw;
  height: 13.672vw;
  z-index: 1;
}
.bottom-bar nav ul li .button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}
.bottom-bar nav ul li .button-container .icon {
  z-index: 100;
  position: relative;
  display: block;
  line-height: 14.648vw;
  font-size: 5.156vw;
  text-align: center;
  transition: 0.5s;
}
.bottom-bar nav ul li .button-container .text {
  position: absolute;
  font-weight: 400;
  font-size: 2.578vw;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(3.906vw);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.bottom-bar nav ul li.active-btn .button-container .icon {
  transform: translateY(-6.836vw);
  color: var(--color-primary);
}
.bottom-bar nav ul li.active-btn .button-container .text {
  opacity: 1;
  transform: translateY(1.953vw);
}
.bottom-bar nav #dragableContent {
  display: none;
}

.indicator {
  position: absolute;
  top: -50%;
  width: 13.672vw;
  height: 13.672vw;
  background-color: var(--color-green);
  border-radius: 50%;
  border: 1.172vw solid var(--color-primary);
  transition: 0.5s;
}

.control:nth-child(1).active-btn ~ .indicator {
  transform: translateX(0);
}

.control:nth-child(2).active-btn ~ .indicator {
  transform: translateX(15.625vw);
}

.control:nth-child(3).active-btn ~ .indicator {
  transform: translateX(31.25vw);
}

.control:nth-child(4).active-btn ~ .indicator {
  transform: translateX(46.875vw);
}

.control:nth-child(5).active-btn ~ .indicator {
  transform: translateX(62.5vw);
}

@media screen and (min-width: 578px) {
  :root {
    font-size: 15px;
  }
  .bottom-bar nav {
    position: fixed;
    top: calc(100vh - 90px);
    width: 500px;
    height: 70px;
    border-radius: 10px;
  }
  .bottom-bar nav ul {
    gap: 10px;
  }
  .bottom-bar nav ul li {
    width: 70px;
    height: 70px;
  }
  .bottom-bar nav ul li .button-container .icon {
    line-height: 75px;
    font-size: 1.5em;
  }
  .bottom-bar nav ul li .button-container .text {
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transform: translateY(20px);
  }
  .bottom-bar nav ul li.active-btn .button-container .icon {
    transform: translateY(-35px);
  }
  .bottom-bar nav ul li.active-btn .button-container .text {
    transform: translateY(10px);
  }
  .bottom-bar nav #dragableContent {
    overflow: auto;
    display: block;
    cursor: grab;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    color: #ffffff;
    background-color: var(--color-red);
    display: grid;
    place-items: center;
    padding: 0.5rem;
    border-radius: 10px;
  }
  .bottom-bar nav #dragableContent i {
    color: var(--color-primary);
    font-size: 1rem;
  }
  .indicator {
    width: 70px;
    height: 70px;
    border: 6px solid var(--color-primary);
  }
  .control:nth-child(1).active-btn ~ .indicator {
    transform: translateX(0);
  }
  .control:nth-child(2).active-btn ~ .indicator {
    transform: translateX(80px);
  }
  .control:nth-child(3).active-btn ~ .indicator {
    transform: translateX(160px);
  }
  .control:nth-child(4).active-btn ~ .indicator {
    transform: translateX(240px);
  }
  .control:nth-child(5).active-btn ~ .indicator {
    transform: translateX(320px);
  }
}
.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--icon-bg);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--theme-icon);
  pointer-events: none;
  transition: none;
}

.sun {
  display: none;
}

.light-mode .moon {
  display: none;
}
.light-mode .sun {
  display: block;
}

/*Header-content*/
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  gap: 2vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-content .left-header .code {
  position: absolute;
  z-index: -1;
  font-size: 0.6rem;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  height: 100%;
  width: 100%;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-image: url("/assets/face-shot.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
}
.header-content .right-header .name {
  font-size: 3rem;
  color: var(--color-yellow);
}
.header-content .right-header .name span {
  color: var(--color-red);
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}
.header-content .right-header .header-icons {
  max-width: 100%;
}
.header-content .right-header .header-icons .header-icon {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.header-content .right-header .header-icons .header-icon a {
  background-color: var(--icon-bg);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.header-content .right-header .header-icons .header-icon a i {
  font-size: 1.5rem;
  margin: 0 1rem;
  transition: all 0.4s ease-in-out;
}
.header-content .right-header .header-icons .header-icon a:hover {
  background-color: var(--color-white);
}
.header-content .right-header .header-icons .header-icon a:hover i {
  color: var(--color-primary);
}
.header-content .right-header .header-icons .header-icon a:nth-child(1) {
  color: var(--color-linkedin);
}
.header-content .right-header .header-icons .header-icon a:nth-child(3) {
  color: var(--color-hackerrank);
}
.header-content .right-header .header-icons .header-icon a:nth-child(4) {
  color: var(--color-ig);
}

/*About*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-green);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-grey-2);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 95%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .js {
  width: 75%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .node {
  width: 87%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .python {
  width: 70%;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}

/*Timeline*/
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey-5);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -23px;
  top: 0;
  background-color: var(--color-secondary);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline .timeline-item p {
  color: var(--color-grey-2);
}

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.blogs-content .blog-introduction {
  margin-top: 4.5rem;
}
.blogs-content .blog-introduction body {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.blogs-content .blog-introduction body .right img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}
.blogs-content .blogs body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.blogs-content .blogs body .blog {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}
.blogs-content .blogs body .blog:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.blogs-content .blogs body .blog:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}
.blogs-content .blogs body .blog img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
.blogs-content .blogs body .blog .blog-text {
  padding: 1.1rem;
  border-top: 8px solid var(--color-secondary);
}
.blogs-content .blogs body .blog .blog-text h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.blogs-content .blogs body .blog .blog-text h4:hover {
  color: var(--color-secondary);
}
.blogs-content .blogs body .blog .blog-text p {
  color: var(--color-grey-2);
  line-height: 2rem;
  padding-bottom: 1rem;
}

.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-info .contact-item .icon .fa-linkedin {
  color: var(--color-linkedin);
}
.contact-content-con .left-contact .contact-info .contact-item .icon .fa-hackerrank {
  color: var(--color-hackerrank);
}
.contact-content-con .left-contact .contact-info .contact-item .icon .fa-instagram {
  color: var(--color-ig);
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input,
.contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

/*Independed components*/
.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 3px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-yellow);
}
.main-title h2 span {
  color: var(--color-red);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

#form-submit-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 3px solid var(--color-green);
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-left: 2rem;
  font-size: inherit;
}
#form-submit-btn .btn-icon {
  margin-left: 2rem;
  background-color: var(--color-green);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
#form-submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
#form-submit-btn:hover {
  cursor: pointer;
  transition: all 0.4s ease-out;
}
#form-submit-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-green);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

#form-submit-btn:disabled {
  background-color: grey;
  color: darkgray;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--theme-bg); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 5%; /* 30px from the bottom */
}

#snackbar.show.alert {
  background-color: red;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 5%;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    top: 5%;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
.about-container .left-about p {
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    min-height: auto;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 1rem;
    padding-bottom: 6rem;
  }
  .container {
    padding: 2rem 1.5rem !important;
  }
  .about-stats .progress-bars {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }
  .blogs body {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 6rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  .contact-item {
    flex-direction: column;
    margin: 1rem 0;
  }
  .contact-item p {
    font-size: 15px;
    color: var(--color-grey-2);
  }
  .contact-item span {
    font-size: 15px;
  }
  .contact-item .icon {
    grid-template-columns: 25px 1fr;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.3rem;
  }
  .main-title h2 .bg-text {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1432px) {
  .container {
    padding: 7rem 11rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }
  .main-title h2 .bg-text {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 1250px) {
  .blogs body {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
  }
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-content .right-header {
    padding-right: 9rem;
  }
}
@media screen and (max-width: 660px) {
  .blogs body {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }
  .about-container .left-about {
    padding-right: 0rem;
  }
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .left-header {
    height: 28vh;
  }
  .left-header .h-shape {
    display: none;
  }
  .left-header .image {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
}
@media screen and (max-width: 700px) {
  .container {
    padding: 7rem 3rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }
  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-title h2 {
    font-size: 3rem;
  }
  .main-title h2 span {
    font-size: 3rem;
  }
  .main-title h2 .bg-text {
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */